vpc_id = "vpc-xxxxxxxxxxxxxxxxx"
# OIDC Provier の取得: aws eks describe-cluster --name eks-work-prd --query "cluster.identity.oidc.issuer" --output text
oidc_provider = "oidc.eks.ap-northeast-1.amazonaws.com/id/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# ジョブカンのクライアントコード
jobcan_client_code = "xxxxxxxxxxxxxxxxxxxx"
# cognitoのユーザープールID
cognito_user_pool_id = "ap-northeast-1_xxxxxxxxx"
# cognitoのユーザープールに紐づくクライアントID
cognito_client_id = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
kms_admin_list = [
  "arn:aws:iam::xxxxxxxxxxxx:root",
  "arn:aws:iam::xxxxxxxxxxxx:user/xxxxxxxxx",
  "arn:aws:iam::xxxxxxxxxxxx:role/xxxxxxxxxxxxxxxxxxxxxxxxxxx"
]
