{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div id="app">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 400px">
      <div class="card-body">
        <div class="d-flex justify-content-center my-5">
          <div>
            <h2 class="card-title">パスワードを更新してください</h2>
          </div>
        </div>
        <form @submit.prevent="submit">
          <div class="form-floating mb-3">
            <input
              type="email"
              required
              disabled
              class="form-control"
              id="floatingInput"
              v-model="email"
              placeholder="name@example.com">
            <label for="floatingInput">ログインメールアドレス</label>
          </div>
          <div class="form-floating input-group mb-3">
            <input
              type="inputType"
              required
              minlength="8"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="パスワードは大文字小文字数字を含む8文字以上で設定してください"
              class="form-control"
              id="floatingPassword"
              v-model="password"
              placeholder="password">
            <label for="floatingPassword">新しいパスワード</label>
            <button
              class="btn btn-outline-secondary"
              type="button"
              @click="inputType = (inputType === 'password' ? 'text' : 'password')"
              id="button-addon2">
              <!-- Bootstrapで使えるアイコン: https://icons.getbootstrap.jp/ -->
              <i :class="inputType === 'text' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              required
              class="form-control"
              id="floatingConfirmPassword"
              v-model="confirmPassword"
              placeholder="password">
            <label for="floatingConfirmPassword">新しいパスワードの確認</label>
          </div>
          <div class="d-flex justify-content-end">
            <div>
              <button class="btn btn-primary" type="submit">Update Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<script>
const { createApp, ref } = Vue

const app = createApp({
  // Composition API: setup(): https://ja.vuejs.org/api/composition-api-setup
  setup() {
    if (AuthUtil.authenticated()) {
      location.href = '/timecard';
    }

    const queryString = window.location.search
    const urlParams = new URLSearchParams(queryString)
    if (!urlParams.has("email") || !urlParams.has("session")) {
      alert("Invalid URL")
      window.location.href = "/login"
    }

    const email = ref(decodeURIComponent(urlParams.get("email")))
    const password = ref('')
    const confirmPassword = ref('')
    const inputType = ref('password')
    const session = decodeURIComponent(urlParams.get("session"))

    async function submit() {
      if (password.value !== confirmPassword.value) {
        alert("パスワードが一致しません")
        return
      }

      let response = await fetch("/api/new_password", {
        method: "POST",
        body: JSON.stringify({
          username: email.value,
          new_password: password.value,
          session: session,
        }),
        headers: {
          "Content-Type": "application/json",
        }
      })

      if (!response.ok) {
        console.error(response)
        alert(`パスワードの更新に失敗しました。ログイン画面に戻ります。`)
        location.href = "/login"
        return
      }

      let json = await response.json()
      let token = json.access_token
      AuthUtil.login(token)
      location.href = "/"
    }

    return {
      email,
      password,
      confirmPassword,
      inputType,
      submit
    }
  },
  mounted() {
    console.log("mounted")
  },
  delimiters: ['[[', ']]']
})
app.mount('#app')
</script>
{% endblock %}
